# do not push environment stuff
venv/
__pycache__/
.DS_Store

# topic modelling zero shot model pkl
src/models/topic_modelling/test/zero_shot.pkl

# test predictions
data/predicted/2023*

# bert model saved dir for sentiment analysis
src/models/sentiment_analysis/train/bert_model/

# lstm model saved dir for sentiment analysis
src/models/sentiment_analysis/train/lstm_model/
# logreg model saved dir for sentiment analysis
src/models/sentiment_analysis/train/logreg_model/logreg_model.sav
src/models/sentiment_analysis/train/logreg_model/logreg_word2vec.model

#hide evaluation images temporarily
src/models/topic_modelling/train/eval/

# vscode extension
.vscode/

#incomplete
test.ipynb
.ipynb_checkpoints/
