# do not push environment stuff
venv/
__pycache__/
.DS_Store

# topic modelling zero shot model pkl
src/models/topic_modelling/model.pkl

# test predictions
data/predicted/2023*

# bert model saved dir for sentiment analysis
src/models/sentiment_analysis/train/bert_model/

# logreg model saved dir for sentiment analysis
src/models/sentiment_analysis/train/logreg_model.sav

#hide evaluation images temporarily
src/models/topic_modelling/train/eval/

# vscode extension
.vscode/

#incomplete
test.ipynb