bertopic==0.13.0
en_core_web_sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.4.0/en_core_web_sm-3.4.0-py3-none-any.whl
h2o-wave==0.24.2
pandas==1.5.3
matplotlib==3.6.3
plotly==5.13.0
spacy
contractions==0.1.73
nltk==3.8.1
pyYAML
hdbscan==0.8.29
scikit-learn==1.2.2
tensorflow==2.12.0
lbl2vec==1.0.2
transformers==4.27.3
joblib==1.2.0
sphinx==6.1.3
sphinx-rtd-theme==1.2.0
sphinxcontrib-napoleon==0.9
seaborn-0.12.2